doctype html
html
    head
        meta(charset="utf-8")
        title Task Manager
        link(rel="stylesheet" href="/style.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous")
    body
        header
            i.fas.fa-tasks.fa-3x
            nav.menu
                a(href="") Link 1
                a(href="") Link 2
                a(href="") Link 3
                a(href="") Link 4
                a(href="") Link 5
        main
            h1 Task Manager
        footer
            nav.soc
                a(href="")
                    i.fab.fa-tiktok
                a(href="")
                    i.fab.fa-twitter
                a(href="")
                    i.fab.fa-telegram
                a(href="")
                    i.fab.fa-vk